{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <title>Baraka</title>
  {% include 'website/common_header.html' %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
  <link rel="stylesheet" href="{% static 'css/loker.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
</head>
<body>
{% include 'website/navbar.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="padding: 0">
      <img class="img-responsive" src="{% static 'img/'|add:img %}" style="max-width: 100%">
    </div>
  </div>
</div>
<div class="container" style="margin-top: 50px">
  {% if loker|length == 0 %}
  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-bottom: 50px">
      <h1>Maaf saat ini tidak ada lowongan pekerjaan untuk daerah ini</h1>
    </div>
  </div>
  {% else %}
    {% for lowongan in loker %}
    <a class="loker-link" href="/detail_lowongan/{{ lowongan.id }}">
    <div class="row loker-row">
      <div class="col-md-4" style="font-weight: 1000">
        {{ lowongan.posisi }}
      </div>
      <div class="col-md-4" style="text-align: center">
        {{ lowongan.kota }}
      </div>
      <div class="col-md-4" style="text-align: right">
        {{ lowongan.jenis }}
      </div>
    </div>
    </a>
    {% endfor %}
  {% endif %}
</div>
{% include 'website/common_footer.html' %}
</body>
{% include 'website/common_script.html' %}