{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #ffffff;">
  <a class="navbar-brand" href="/mainpage">
    <img src="{% static 'img/logo.png' %}" id="navbar-brand-img" alt="Baraka Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mr-auto navbar-blue-text">
      <li class="nav-item ml-5" id="navbar-home">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ml-5" id="navbar-about-us">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item ml-5 dropdown" id="navbar-career">
        <a class="nav-link dropdown-toggle" href="#" id="career" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Career
        </a>
        <div class="dropdown-menu" aria-labelledby="career">
          <a class="dropdown-item" href="#">Jawa Barat</a>
          <a class="dropdown-item" href="#">Jawa Tengah</a>
          <a class="dropdown-item" href="#">Jawa Timur</a>
          <a class="dropdown-item" href="#">DKI Jakarta</a>
        </div>
      </li>
      <li class="nav-item ml-5" id="navbar-contact">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>